<ion-header>
  <ion-toolbar>
    <ion-button id="botonRegresar" color="primary" shape="round" fill="solid" (click)="regresar()"> 
      Regresar</ion-button>
    <ion-title id="tituloPrincipal">Iglesia de Gualaceo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      El Padre Andrade reporta que el antiguo templo fue edificado en 1850, estando presente para la colocación de la primera piedra el franciscano, Monseñor José Manuel Plaza, octavo Obispo de Cuenca. Esta primera piedra “que lleva una leyenda fue encontrada y adosada en la pared del templo actual, donde permanece visible, frente a la plaza Guayaquil” (Ibid., p. 95). Continúa con la descripción de aquel templo, aún recordado por muchos: “Lo rescatable del templo antiguo era unos altares laterales, tallados en madera y recubiertos de pan de oro, al estilo de los templos coloniales, los mismos que seguramente, eran parte de un templo anterior, ese sí colonial.
    </p>
    <iframe style="margin-left: 5%; margin-right: 5%; width: 90%;" src="https://www.youtube.com/embed/HQwBbAUErBc" title="IGLESIA ANTIGUA DE GUALACEO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Desde el 20 de abril de 1952, iniciado bajo la dirección del P. Tarquino Muñoz Burgos y levantado por el dinámico y entusiasta P. Guillermo Andrade Moreno, Vicario de Gualaceo in illo tempore, con el esfuerzo y la generosidad de los gualaceños, siempre abiertos a las grandes manifestaciones espirituales que permiten, la realización de gigantescas empresas para la mayor gloria de Dios.
    </p>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Hace ya 50 años, concretamente el 8 de diciembre de 1962, Monseñor Miguel Cordero Crespo, Vicario General de la Arquidióceis de Cuenca, inauguraba solemnemente este templo construido por espacio de una década.
    </p>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Tiempo despues el 24 de Julio de 2013 en la iglesia de Gualaceo se coloco la imagen en honor al Apóstol Santiago el Mayor, patrono de la ciudad, llamado comúnmente “El Patrón Santiago”.
    </p>
  </ion-text>
</ion-content>
