<ion-header>
  <ion-toolbar>
    <ion-button id="botonRegresar" color="primary" shape="round" fill="solid" (click)="regresar()"> 
      Regresar</ion-button>
    <ion-title id="tituloPrincipal">Acueducto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Es una estructura hidráulica que data quizás de la época prehispánica y colonial. Estos sistemas utilizados para el transporte de agua por gravedad es una galería que cuenta con miles de años de existencia, tiempo durante el cual han sido usados para la derivación de agua para su aprovechamiento agrícola, a estas obras se les conoce como sistemas de riego pequeños. 
    </p>
    <img src="../../../assets/icon/Acueducto.jpg" style="margin-left: 5%; margin-right: 5%; width: 90%;">
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Según estudios sobre este tipo de sistemas nos han demostrado que tienen un alto grado de sostenibilidad, bajos costos económicos y altos rendimientos de producción agrícola, pudiéndose considerar como una importante alternativa en la generación de desarrollo.
    </p>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Hacia llegar el agua al otro lado del rio Sta. Bárbara, servía para transportar agua para riego, es un lugar por cierto privilegiado porque se encuentra en la parte alta de la cuenca del río Santa Bárbara desde donde se observa el serpenteante recorrido
    </p>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      El ancho del canal es de aproximadamente 1 metro paralelos al rio Guaymincay. Si al desbordarse el rio Guaymincay el agua se traslade por los arcos para evitar una inundación.
    </p>
  </ion-text>
</ion-content>
