<ion-header>
  <ion-toolbar>
    <ion-button id="botonRegresar" color="primary" shape="round" fill="solid" (click)="regresar()"> 
      Regresar</ion-button>
    <ion-title id="tituloPrincipal">Gran Colombia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      El origen del nombre de “La Gran Colombia” o “Republica de Colombia” fue un estado creado por el Congreso de Angostura, que existió entre los años 1820 y 1831, y era conformado por Venezuela y la Nueva Granada, además de Panamá, Quito y Guayaquil.
    </p>
    <br>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      A continuacion algunas de las imagenes referentes a la Calle Gran Colombia:
    </p>
    <br>
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Casa de oficinas y despachos públicos entre los años 1920 – 1930 
    </p>
    <img src="../../../assets/icon/callePrimera.jpeg" style="margin-left: 5%; margin-right: 5%; width: 90%;">
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Dia de feria en la plaza de Gualaceo entre los años 1920 – 1930 
    </p>
    <img src="../../../assets/icon/calleSegunda.jpeg" style="margin-left: 5%; margin-right: 5%; width: 90%;">
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Calle Bolivar entre los años 1920 – 1930 
    </p>
    <img src="../../../assets/icon/calleTercera.jpeg" style="margin-left: 5%; margin-right: 5%; width: 90%;">
    <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">
      Autor de las imágenes previamente expuestas: Serrano Manuel Jesús; Cuenca, Azuay
    </p>
  </ion-text>
</ion-content>
