<ion-header>
  <ion-toolbar>
    <ion-button id="botonSalir" color="primary" shape="round" fill="solid" (click)="salir()"> 
      Salir</ion-button>
    <ion-title id="tituloPrincipal">Pagina Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail (click)="iglesia()">
        <img src="../../../assets/icon/Iglesia.jpeg " style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Iglesia de Gualaceo</h2>
        <p>Acceso a la descripción de la Iglesia Central</p>
      </ion-label>
    </ion-item>
    <ion-item detail (click)="calle()">
        <img src="../../../assets/icon/CalleGC.jpeg" style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Calle Gran Colombia</h2>
        <p>Acceso a la descripción de la Calle Gran Colombia</p>
      </ion-label>
    </ion-item>
    <ion-item detail (click)="acueducto()">
        <img src="../../../assets/icon/Acueducto.jpg" style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Canal de riego</h2>
        <p>Acceso a la descripción del Acueducto Chacapmaba</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>