<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Principal</ion-title>
    <ion-button id="botonSalir" color="primary" shape="round" fill="solid"(click)="salir()"> 
      Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail href="../iglesia-matriz/">
        <img src="../../../assets/icon/Iglesia.jpeg " style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Iglesia de Gualaceo</h2>
        <p>Ubicacion: <a href="https://maps.google.com/?q=-2.889692978845055, -78.77878400341795">Aqui</a></p>
      </ion-label>
    </ion-item>
    <ion-item detail href="../calle/">
        <img src="../../../assets/icon/CalleGC.jpeg" style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Calle Gran Colombia</h2>
        <p>Ubicacion: <a href="https://maps.google.com/?q=-2.8899217627170795, -78.77957520358747">Aqui</a></p>
      </ion-label>
    </ion-item>
    <ion-item detail href="../acueducto/">
        <img src="../../../assets/icon/Acueducto.jpg" style="height: 100px; width: 150px; margin-right: 10px; margin-bottom: 50px; margin-top: 50px;">
      <ion-label>
        <h2>Canal de riego</h2>
        <p>Ubicacion: <a href="https://maps.google.com/?q=-2.903407969576315, -78.77972910708982">Aqui</a></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>