<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Escaneo de códigos QR</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>
            <div class="codigos">
              <h2 style="margin-bottom: 5%;">Alojado en Play Store</h2>
              <img src="../../assets/icon/IglesiaGualaceoQR.png" >
              <ion-button id="botonIglesia" href="https://play.google.com/store/apps/details?id=com.DefaultCompany.GualaceoAR" color="primary" >Redireccion Iglesia</ion-button>
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="codigos">
              <h2 style="margin-bottom: 5%;">Alojado en One Drive</h2>
              <img src="../../assets/icon/Calle_Gran_Colombia.png" id="imagen">
              <ion-button id="botonCalle" href="https://drive.google.com/file/d/1UIl31s3NfglwZTzEzMJj2jY2SIZDy35u/view" color="primary" >Redireccion Calle</ion-button>
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="codigos">
              <h2 style="margin-bottom: 5%;">Alojado en One Drive</h2>
              <img src="../../assets/icon/Canal_de_riego.png" id="imagen">
              <ion-button id="botonAcueducto" href="https://drive.google.com/file/d/1PEssdvK-uVu_Wgroa_kic4OgZg5Ru09y/view" color="primary" >Redireccion Acueducto</ion-button>
            </div>
            </ion-label>
        </ion-item>
      </ion-list>
</ion-content>