#botonIglesia {
    float: left;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 5%;
}

#botonCalle {
    float: left;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 5%;
}

#botonAcueducto {
    float: left;
    width: 56%;
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 5%;
}

.codigos {
    text-align: center;
}