<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Escaneo de códigos QR</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>
            <img src="../../assets/icon/Iglesia_de_Gualaceo.png" id="imagen">
            <ion-button id="botonIglesia" href="https://s.qrfy.mobi/aFq4T3i" color="primary" >Redireccion Iglesia</ion-button>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <img src="../../assets/icon/Calle_Gran_Colombia.png" id="imagen">
            <ion-button id="botonCalle" href="https://drive.google.com/file/d/1UIl31s3NfglwZTzEzMJj2jY2SIZDy35u/view" color="primary" >Redireccion Calle</ion-button>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <img src="../../assets/icon/Canal_de_riego.png" id="imagen">
            <ion-button id="botonAcueducto" href="https://drive.google.com/file/d/1PEssdvK-uVu_Wgroa_kic4OgZg5Ru09y/view" color="primary" >Redireccion Acueducto</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>